* {
    margin: 0;
    padding: 0;
}

.Container-TestTwo {
    width: 100%;
    height: 90vh;
    background-color: greenyellow;
    box-sizing: border-box;
    /*background-image: url("../Assets/banner19.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
}

/* Base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar-hamburger {
    position: relative;
    z-index: 2000;
}


/* Icône hamburger */
.menu-icon {
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    z-index: 2100;
    position: relative;
    color: white;

}

/* Menu plein écran */
.menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background: #f3bb2f; /* blanc */
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* commencer depuis le haut */
    padding-top: 40px;
    transition: left 0.2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
}

.menu.open {
    left: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu ul li {
    width: 100%;
}

/* Boutons du menu principal */
.menu-button {
    width: 100%;
    text-align: left;
    padding: 14px 20px;  /* marge interne à gauche */
    font-size: 20px;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    color: #111;
    font-family: "Montserrat", sans-serif;
}

.menu-button:hover {
    /*background: #f2f2f2;*/
    /*color: #1c6077;*/
}

/* Sous-menu */
.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    /*background: white;*/

}

.submenu.open {
    max-height: 400px;
}

.submenu li {
    padding: 10px 40px; /* indenté par rapport au menu principal */
    font-size: 15px;
    font-weight: 500;
    /*color: #1c6077;*/
}

.submenu li:hover {
    /*color: #799da9;*/
    /*background: #e0e0e0;*/
}

/*-------------------------------------------*/

@media screen and (max-width:940px) {


    .Container-TestTwo {
        /*width: 100%;*/
        /*height: 80vh;*/
        /*!*background-color: yellow;*!*/
        /*box-sizing: border-box;*/
        /*!*background-image: url("../Assets/banner_mobile3.jpg");*!*/
        /*background-repeat: no-repeat;*/
        /*background-size: cover;*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*padding-top: 150px;*/
        /*!*justify-content: center;*!*/
    }

    .navbar-hamburger {
        position: relative;
        z-index: 2000;
    }


    /* Icône hamburger */
    .menu-icon {
        /*font-size: 1.8rem;*/
        background: none;
        border: none;
        cursor: pointer;
        /*padding: 1rem;*/
        z-index: 2100;
        position: relative;
        color: white;
        font-weight: 800;
    }

    /* Menu plein écran */
    .menu {
        position: fixed;
        top: 5px;
        left: -70%;
        height: 100vh;
        width: 70%;
        background: #f9c74a; /* blanc */
        color: #111;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* commencer depuis le haut */
        padding-top: 0px;
        transition: left 0.3s ease-in-out;
        font-family: 'Montserrat', sans-serif;
        margin-top: 100px;
        /*z-index: 1200;*/
        z-index: 500;   /* derrière la navbar */
        /*top: 12vh;*/
        /*height: calc(100vh - 12vh);*/
    }

    .menu.open {
        left: 0;
    }

    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .menu ul li {
        width: 100%;
    }

    /* Boutons du menu principal */
    .menu-button {
        width: 100%;
        text-align: left;
        padding: 14px 20px;  /* marge interne à gauche */
        font-size: 20px;
        font-weight: 600;
        /*background: none;*/
        border: none;
        cursor: pointer;
        color: #111;
        font-family: "Montserrat", sans-serif;
        list-style: none;
    }

    .menu-button,
    .menu-button:link,
    .menu-button:visited {
        display: block;          /* pour qu’ils se comportent comme des boutons */
        width: 100%;
        text-align: left;
        padding: 14px 20px;
        font-size: 20px;
        font-weight: 600;
        background: none;
        border: none;
        cursor: pointer;
        color: #111;
        font-family: "Montserrat", sans-serif;
        text-decoration: none;   /* enlève le soulignement des liens */
    }

    .menu-button:hover {
        /*background: #1c1c1c;*/
        /*color: #f3bb2f;*/
    }

    /* Sous-menu */
    .submenu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
        background: #1c1c1c;
        color: white;
        /*height: 40vh;*/
    }

    .submenu.open {
        max-height: 400px;
        padding-bottom: 5px;
    }



    .Submenu-button-hamburger {
        padding: 10px 40px; /* indenté par rapport au menu principal */
        font-size: 15px;
        font-weight: 500;
        color: white;
        list-style-type: none;
        text-decoration: none;
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/

    }

    .submenu li:hover {
        color: #111;
        /*background: #e0e0e0;*/
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 70%;           /* commence là où le menu s’arrête */
        width: 30%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.0); /* totalement transparent */
        z-index: 1999;
    }


}