@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.Container-Navbar2 {
    width: 100%;
    height: 50px;
    background-color: #757575;
    box-sizing: border-box;
    /*background-image: url("../Assets/banner19.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    top: 14vh;
    left: 0;
    position: fixed;
    z-index: 300;

    display: flex;
    justify-content:center;
    align-items: center;
}

.Container-buttons-Navbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    font-size: 20px;
    list-style-type: none;
    font-family:  "Montserrat", sans-serif;
    text-decoration: none;
}

.Menu-button-navbar2 {
    list-style-type: none;
    font-family:  "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.Menu-button-navbar2:hover {
    color: #f3bb2f;

}

.Menu-button-navbar2.active {
    color: #f3bb2f;
}

/*-------------------------------------------*/

@media screen and (max-width:1225px) {


    .Container-buttons-Navbar2 {
        gap: 150px;
        font-size: 18px;
    }
}


/*-------------------------------------------*/

@media screen and (max-width:940px) {


    .Container-Navbar2 {
        display: none;
        padding: 20px;
    }

    .Container-buttons-Navbar2 {
        margin-top: 97px;
        gap: 36px;
        font-size: 15px;
    }

}